body {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	color: black;
}

body,
h1, 
h2, 
h3, 
h4,
h5,
h6,
.title,
.sub-title {
	margin-top: 0;
	font-family: Roboto, Arial, sans-serif;
}

.title {
	font-weight: 300;
	font-size: 42px;
	color: deeppink;
}

.sub-title {
	font-size: 32px;
	font-weight: 300;
	color: deepskyblue;
}

a {
	color: deepskyblue;
}

img {
	max-width: 100%;
	height: auto;
}

.footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 0px;
}

.footer,
.footer a {
	color: #444;
    font-size: 14px;
	font-weight: 300;
    font-family: Roboto,Arial,sans-serif;
}

.footer__body a:hover {
    color: #ff1493;
}

.footer__body {
	margin-top: 0px;
    padding-top: 10px;    
}