body {
	margin: 40px;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-container {
	grid-gap: 20px; /* Not working in Win/IE older spec. */

	-ms-grid-rows: 100px 1fr 120px 140px;
	-ms-grid-columns: 200px 250px 80px 120px 200px;

	grid-template-rows: 100px 1fr 120px 140px;
	grid-template-columns: 200px 250px 80px 120px 200px;
}

@media(min-width: 1024px) {
	.grid-container {
		display: -ms-grid;
		display: grid;
	}
}

.grid-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
	color: white;
	font-size: 32px;
	font-weight: 700;
	border-radius: 10px;
}

@media(min-width: 1200px) {
	.grid-container > div {
		margin-bottom: 0;
	}
}

/* Only works in Win/IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.grid-container > div {
		margin-right: 40px;
		margin-bottom: 40px;
	}
}

.block-1 {
	-ms-grid-row: 4;
	-ms-grid-column: 4;
	-ms-grid-column-span: 2;

	grid-row: 4;
	grid-column: 4 / span 2;

	background-color: deepskyblue;
}

.block-2 {
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	-ms-grid-column: 1;

	grid-row: 2 / span 2;
	grid-column: 1;

	background-color: #ff8e14;
}

.block-3 {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	-ms-grid-row-span: 2;
	-ms-grid-column-span: 2;

	grid-row: 2 / span 2;
	grid-column: 2 / span 2;

	width: 200px;
	height: 110px;

	-ms-grid-row-align: center;
	-ms-grid-column-align: center;

	justify-self: center;
	align-self: center;

	background-color: deepskyblue;
}

.block-4 {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;

	grid-row: 1;
	grid-column: 3 / span 2;

	background-color: deeppink;
}

.block-5 {
	grid-row: 2;
	grid-column: 5;

	-ms-grid-row: 2;
	-ms-grid-column: 5;

	justify-self: end;
	align-self: end;

	-ms-grid-column-align: center;
	-ms-grid-row-align: end;
	background-color: #4614ff;
}

@media(min-width: 1200px) {
	.block-5 {
		width: 120px;
	}
}